{% extends "gitego/base.html" %}


{% block content %}

{% paths as paths %}
{% with paths.2 as username %}
{% with paths.3 as repo %}

<!-- start repo -->
<div id="repo">
  {% get_repository username repo as result %}
  {% with result.0 as repository %}
  {% with result.1 as error %}

  {% if error or not repository %}
  {% raise_404 %}
  {% endif %}

  <!-- start specific repo detail -->
  <div style="margin-top: 30px; margin-bottom: 10px;">
    <span style="font-size: 20px;">⇠</span>
    <a href="/gitego/user/{{ username }}">
      Go back to {{ username }}
    </a>
  </div>

  <span style="font-size: 20px; font-weight: bold;">
    {{ repository.name }}

    <span class="emoji-link">
      <a href="https://github.com/{{ username }}/{{ repository.name }}">💿</a>
    </span>

    <span style="font-weight: normal; margin-left: 20px; color: grey;">
      <a
        href="https://github.com/{{ username }}/{{ repository.name }}/stargazers">{{ repository.stargazer_count|intcomma }}</a>
      ⭐️
    </span>

    {% if repository.last_commit_date and repository.last_commit_url %}
    <span style="font-weight: normal; margin-left: 20px; color: grey;">
      <a href="{{ repository.last_commit_url }}">
        {{ repository.last_commit_date|str_to_date|naturaltime }}
      </a>
    </span>
    {% endif %}
  </span>

  {% if repository.description %}
  <p style="margin-top: .5rem;">
    {{ repository.description }}
  </p>
  {% endif %}

  {% if repository.stargazers %}
  <table style="margin-top: 50px;">
    <thead>
      <tr>
        <th scope="col">Who</th>
        <th scope="col">When</th>
      </tr>
    </thead>
    {% for stargazer in repository.stargazers %}
    <tr>
      <td>
        {% include "gitego/_user-detail.html" with user=stargazer %}
      </td>
      <td>
        <span title="{{ stargazer.starredAt }}">
          {{ stargazer.starredAt|str_to_date|naturaltime }}
        </span>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>
    No stargazers. 😢
  </p>
  {% endif %}
  <!-- end specific repo detail -->
</div>

{% endwith error %}
{% endwith result %}


{% endwith repo %}
{% endwith username %}
<!-- end repo -->

{% endblock %}