body {
    background-color: #fff;
    background-image: linear-gradient(90deg, transparent 79px, #FF5C5C 79px, transparent 80px),
        linear-gradient(0deg, #6EDBDB 1px, transparent 1.1px);
    background-size: 100% 2em;
}

h1 img {
    height: 120px;
    padding-top: 1.5em;
    margin-bottom: 1.5em;
}

h2.header {
    margin-top: 3.5em;
}

h2 img {
    max-height: 80px;
    margin-bottom: 0;
}

h3 img {
    max-height: 40px;
}

h4 {
    margin-bottom: .5em;
}

h4 img {
    max-height: 26px;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
    text-align: left;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding-left: 1.3em;
}

a {
    color: #5272B7;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-10 {
    margin-top: 10em !important;
}

.wrapper {
    margin-left: 0;
    margin-right: 0;
}

.header {
    text-align: center;
    margin-bottom: 0.5em;
}

.box {
    max-width: 600px;
    min-width: 300px;
    padding: 2em;
    margin: 0 auto;
    margin-bottom: 2em;
    background-color: #66B68E;

    /*
    From https://css-generators.com/custom-borders/
    */
    --mask: 
      linear-gradient(#000 0 0) center/calc(100% - 20px) calc(100% - 20px) no-repeat,
      conic-gradient(from  135deg at top   ,#0000,#000 1deg 89deg,#0000 90deg) 0 0   /20px 10px space no-repeat,
      conic-gradient(from  -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 0 100%/20px 10px space no-repeat,
      conic-gradient(from   45deg at left  ,#0000,#000 1deg 89deg,#0000 90deg) 0 0   /10px 20px no-repeat space,
      conic-gradient(from -135deg at right ,#0000,#000 1deg 89deg,#0000 90deg) 100% 0/10px 20px no-repeat space;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}

.box p, li, .quote {
    line-height: 1.4em;
    font-size: 1.6em;
    color: white;
}

.box.alert {
    background-color: #fadf70;
}

.dotted-line {
    margin-top: 3em;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #fadf70;
}

.circle img {
    width: 100%;
}

.rotate-30 {
    transform: rotate(30deg);
}

.rotate-100 {
    transform: rotate(100deg);
}

.rotate-130 {
    transform: rotate(130deg);
}

.rotate-340 {
    transform: rotate(340deg);
}

.quote {
    border-left: 8px rgb(51, 164, 230) solid;
    border-left: 8px rgb(223, 105, 180) solid;
    padding-left: 10px;
}

.pictures {
    position: relative;
    top: 0;
    left: 0;
}

.pic {
    position: relative;
    top: 0;
    left: 0;
}

.hockey-mask {
    position: absolute;
    display: none;
}

.profile .section {
    padding-top: .5em;
}

.sticker {
    height: 140px;
    position: relative;
}

p #one, p #heart, p #stickers-copy, p #coffee {
    height: 18px;
}

#pony {
    height: 300px;
    top: 150px;
    position: absolute;
    left: 40px;
}

#sparkle {
    padding-left: 10px;
    float: right;
    height: 180px;
}

#paperclip {
    float: right;
    right: 23px;
}

#pencil {
    float: right;
    right: 103px;
    top: 360px;
}

#a-plus {
    float: left;
    left: 100px;
    top: -60px;
}

#ruler {
    height: 180px;
    float: left;
    left: 100px;
    top: -100px;
}

.hockey-mask {
    display: none;
}

#sangeeta .hockey-mask {
    top: 30px;
    left: 245px;
    width: 100px;
    transform: rotate(-8deg);
}

#adam .hockey-mask {
    left: 95px;
    width: 80px;
    top: 42px;
}

#masks {
    float: right;
    min-width: 120px;
    max-width: 200px;
    top: 40px;
}

#masks p {
    font-size: 1.2em;
}

#masks p#again {
    display: none;
}

.alert p {
    color: black;
}

.icons a {
    text-decoration: none;
}

.icons img {
    max-height: 52px;
}

.box .icons img {
    margin-left: 4px;
}

.box .icons {
    text-align: center;
}

.profile h3 .icons img {
    max-height: 30px;
}

@media screen and (max-width: 1200px) {
    h1 img {
        max-width: 800px;
        padding-top: 1.5em;
        margin-bottom: 1.5em;
    }

    .wrapper {
        margin-left: 1em;
        margin-right: 1em;
    }

    .sticker {
        display: none;
    }

    #masks {
        display: none;
    }
}

.stickers img {
    max-width: 600px;
}

@media screen and (max-width: 1000px) {
    h1 img {
        max-width: 600px;
        padding-top: 1.5em;
        margin-bottom: 1.5em;
    }

    .sticker {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    h1 img {
        max-width: 400px;
        padding-top: 1.5em;
        margin-bottom: 1.5em;
    }

    .sticker {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    h1 img {
        height: 40px;
        padding-top: 1.5em;
        margin-bottom: 1.5em;
    }

    .wrapper {
        margin-left: .1em;
        margin-right: .1em;
    }

    .sticker {
        display: none;
    }

    h1 img {
        height: 40px;
        padding-top: .5em;
        margin-bottom: 0;
    }

    h2 {
        margin-bottom: 0;
    }

    h2 img {
        margin-top: 0;
        margin-bottom: 0;
    }

    h4 {
        margin: 0;
    }
}