body {
    background-color: #fff;
    background-image: linear-gradient(90deg, transparent 79px, #FF5C5C 79px, transparent 80px),
        linear-gradient(0deg, #6EDBDB 1px, transparent 1.1px);
    background-size: 100% 2em;
}

h1,
h2 {
    font-family: 'Over the Rainbow', serif;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

.wrapper {
    margin-left: 10em;
    margin-right: 10em;
}



@media screen and (max-width: 800px) {
    .wrapper {
        margin-left: 1em;
        margin-right: 1em;
    }

    .emoji {
        display: none
    }
}

@media screen and (max-width: 400px) {
    .wrapper {
        margin-left: .1em;
        margin-right: .1em;
    }
}

.header {
    text-align: center;
}

.box {
    max-width: 600px;
    min-width: 300px;
    background-color: #ffffff;
    padding: 2em;
    margin: 0 auto;
    box-shadow: 6px 6px 6px -6px #ccc;
    margin-bottom: 2em;
    border: 1px solid #9b9b9b;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #9b9b9b;
    box-shadow: 6px 6px 6px -6px #ccc;
}

.circle img {
    width: 100%;
}

.emoji {
    font-size: 10em;
}

.emboss {
    text-shadow: 0 -0.5rem 1rem white, 0 0.5rem 1rem #999;
}

.rotate-30 {
    transform: rotate(30deg);
}

.rotate-340 {
    transform: rotate(340deg);
}

.quote {
    border-left: 3px rgb(51, 164, 230) solid;
    padding-left: 6px;
}

.profile {
    position: relative;
    top: 0;
    left: 0;
}
.pic {
    position: relative;
    top: 0;
    left: 0;
}
.hockey-mask {
    position: absolute;
    display: none;
}

h2 img {
    max-height: 40px;
}