@media screen and (max-width: 800px) {
    .wrapper {
        margin-left: 1em;
        margin-right: 1em;
    }

    .emoji {
        display: none
    }

    .sticker {
        display: none
    }
}

@media screen and (max-width: 400px) {
    .wrapper {
        margin-left: .1em;
        margin-right: .1em;
    }
}

body {
    background-color: #fff;
    background-image: linear-gradient(90deg, transparent 79px, #FF5C5C 79px, transparent 80px),
        linear-gradient(0deg, #6EDBDB 1px, transparent 1.1px);
    background-size: 100% 2em;
}

h2 img {
    max-height: 40px;
}

h3 img {
    max-height: 26px;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    margin: 0;
}

a {
    color: #5272B7;
}

.wrapper {
    margin-left: 10em;
    margin-right: 10em;
}

.header {
    text-align: center;
}

.box {
    max-width: 600px;
    min-width: 300px;
    padding: 2em;
    margin: 0 auto;
    margin-bottom: 2em;
    /*box-shadow: 6px 6px 6px -6px #ccc;*/
    /*border: 1px solid #9b9b9b;*/
    /*background-color: #ffffff;*/
    background-color: #66B68E;

    --mask: 
      linear-gradient(#000 0 0) center/calc(100% - 20px) calc(100% - 20px) no-repeat,
      conic-gradient(from  135deg at top   ,#0000,#000 1deg 89deg,#0000 90deg) 0 0   /20px 10px space no-repeat,
      conic-gradient(from  -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 0 100%/20px 10px space no-repeat,
      conic-gradient(from   45deg at left  ,#0000,#000 1deg 89deg,#0000 90deg) 0 0   /10px 20px no-repeat space,
      conic-gradient(from -135deg at right ,#0000,#000 1deg 89deg,#0000 90deg) 100% 0/10px 20px no-repeat space;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}

.box p, li, .quote {
    line-height: 1.4em;
    font-size: 1.6em;
    color: white;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #5f5f5f;
    /* box-shadow: 6px 6px 6px -6px #ccc; */
}

.circle img {
    width: 100%;
}

.emoji {
    font-size: 10em;
}

.emboss {
    text-shadow: 0 -0.5rem 1rem white, 0 0.5rem 1rem #999;
}

.rotate-30 {
    transform: rotate(30deg);
}

.rotate-340 {
    transform: rotate(340deg);
}

.quote {
    border-left: 8px rgb(51, 164, 230) solid;
    border-left: 8px rgb(223, 105, 180) solid;
    padding-left: 10px;
}

.pictures {
    position: relative;
    top: 0;
    left: 0;
}

.pic {
    position: relative;
    top: 0;
    left: 0;
}

.hockey-mask {
    position: absolute;
    display: none;
}

.profile .section {
    padding-top: 2.3em;
}
