nav {
    background: #20AA76;
    height: auto;
    width: 100%;
    border-bottom: 4px solid #FBB13C;
}
nav ul {
    padding-bottom: 10px;
    padding-top: 8px;
    margin: 0;
}
nav .brand {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
}
nav li {
    display: inline;
    padding: 16px;
    font-weight: 500;
}
nav li a {
    text-decoration: none;
    color: #fff !important;
}
nav li.active a {
    color: #fff !important;
}
nav li a:hover {
    text-decoration: none;
    color: rgba(0,0,0,0.8) !important;
}
.hero {
    border-bottom: 1px 1px solid rgba(0,0,0,0.12);
    border-top: 0;
    margin-bottom: 16px;
}
footer {
    margin-bottom: 0;
}
article {
    padding-bottom: 6rem;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #fff;
}
body {
    color: #191516;
    background-color: #F4F6F6;
}
h1 {
    font-weight: 700;
    color: #F0544F;
}
blockquote {
    border-left: 4px solid #20AA76;
    margin: 16px;
    padding-left: 10px;
    font-style: normal;
}
h1 {
    margin-top: 30px;
}
h2 {
    margin-top: 30px;
}
h3 {
    margin-top: 30px;
}
code {
    background-color: var(--grey);
    white-space: pre;
}
a > code {
    color: var(--link-color);
}
h1 code {
    font-size: var(--font-size-h2);
}
h2 code {
    font-size: var(--font-size-h3);
}
h3 code {
    font-size: var(--font-size-h4);
}
#articlesarticles a {
    color: black;
}
#tipstips a {
    color: black;
}