<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>alldjango.com</title>

    <link rel="stylesheet" href="{% static 'css/marx.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/vs.css' %}">

    <meta property="og:url" content="https://devmarks.io{{ request.path }}">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="adamghill" />

    {% if not debug %}
    <!-- Panelbear -->
    <script async src="https://cdn.panelbear.com/analytics.js?site=DN1Hqxd6yiW"></script>
    <script>
        window.panelbear = window.panelbear || function () {
            (window.panelbear.q = window.panelbear.q || []).push(arguments);
        };
        panelbear('config', {
            site: 'DN1Hqxd6yiW'
        });
    </script>

    <script defer data-domain="alldjango.com" src="https://plausible.io/js/plausible.js"></script>

    <script async src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
    {% endif %}
</head>

<body class="{{ slug }}">
    <nav>
        <ul>
            <li>
                <a href="/" class="brand">alldjango</a>
            </li>
            <li class="active">
                <a href="/tips">Tips</a>
            </li>
            <li>
                <a href="/articles">Articles</a>
            </li>
            <li>
                <a href="/stickers">Stickers</a>
            </li>
        </ul>
    </nav>

    <main>
        <article>
            <div data-ea-publisher="django-unicorncom" data-ea-type="image" data-ea-style="stickybox" id="alldjango"
                style="float: right;">
            </div>

            {% block content %}

            {% if title %}
            <h1 id="{{ title|slugify }}">{{ title }}</h1>
            {% endif %}

            {{ content }}
            {% endblock content %}
        </article>

        <footer>
            <p>
                <a href="https://twitter.com/adamghill" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-twitter">
                        <path
                            d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                        </path>
                    </svg>
                </a>
                &nbsp;
                <a href="https://github.com/adamghill" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-github">
                        <path
                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                        </path>
                    </svg>
                </a>
            </p>
            </br />
            <p>
                Made with 🤟 and built with <a href="https://coltrane.readthedocs.io" target="_blank">Coltrane</a> 🎵
            </p>
            </br />
            <p>
                &copy; Adam Hill
            </p>
        </footer>
    </main>
</body>

</html>