<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>alldjango.com</title>

    <link rel="stylesheet" href="{% static 'css/marx.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/vs.css' %}">

    <style>
        a>code,
        p>code {
            background-color: var(--grey);
            padding: 5px;
        }

        a>code {
            color: var(--link-color);
        }

        code {
            white-space: pre;
        }
    </style>

    {% if debug %}
    <!-- Panelbear -->
    <script async src="https://cdn.panelbear.com/analytics.js?site=DN1Hqxd6yiW"></script>
    <script>
        window.panelbear = window.panelbear || function () {
            (window.panelbear.q = window.panelbear.q || []).push(arguments);
        };
        panelbear('config', {
            site: 'DN1Hqxd6yiW'
        });
    </script>

    <script defer data-domain="alldjango.com" src="https://plausible.io/js/plausible.js"></script>
    {% endif %}
</head>

<body class="{{ slug }}">
    <nav>
        <ul>
            <li>
                <a href="/" class="brand">alldjango</a>
            </li>
            <li class="active">
                <a href="/tips">Tips</a>
            </li>
            <li>
                <a href="/articles">Articles</a>
            </li>
            <li>
                <a href="/stickers">Stickers</a>
            </li>
        </ul>
    </nav>

    <main>
        <article>
            {% block content %}

            {% if title %}
            <h1 id="{{ title|slugify }}">{{ title }}</h1>
            {% endif %}

            {{ content }}
            {% endblock content %}
        </article>

        <footer>
            <p>
                Built with <a href="https://coltrane.readthedocs.io">Coltrane</a>:
            </p>
            <p>
                <em>A simple content site framework that harnesses the power of Django without the hassle</em>
            </p>
            </br />

            <p>
                &copy; Adam Hill
            </p>
            <p>
                <a href="https://twitter.com/adamghill" target="_blank">twitter.com/adamghill</a>
            </p>
        </footer>
    </main>
</body>

</html>