<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GitEgo | alldjango.com</title>

    <link rel="stylesheet" href="{% static 'css/sanitize.css' %}">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

    {% if not debug %}
    <script defer data-domain="alldjango.com" src="https://plausible.io/js/plausible.js"></script>
    {% endif %}

    <style>
        .avatar {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }

        td {
            word-break: keep-all;
        }

        td img {
            height: 40px;
            margin-right: 10px;
        }

        .emoji-link {
            margin-left: 4px;
        }

        .emoji-link a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <!-- start header -->
    {% include "gitego/_header.html" %}
    <!-- end header -->

    {% if request.GET.repo and request.GET.username %}

    <!-- start repo -->
    {% include "gitego/_repo.html" %}
    <!-- end repo -->

    {% elif request.GET.username %}

    <!-- start user -->
    {% include "gitego/_user.html" %}
    <!-- end user -->

    {% else %}

    <!-- start default -->
    <p id="intro">
        Enter a GitHub username and click the <code>Lookup</code> button to see the latest stars
        on that user's public repositories.
    </p>
    <!-- end default -->

    {% endif %}

    <!-- start colophon -->
    <section>
        <h4>This silly idea brought to you by:</h4>
        <ul>
            <li>
                <a href="https://indieweb.social/@adamghill/111178120534328391">A frustrated post</a>
            </li>
            <li>
                <a href="https://coltrane.readthedocs.io"><code>Coltrane</code></a>
            </li>
            <li>
                <a href="https://gist.github.com/adamghill/6cbd7f82fffcc72f4774d68c055f2feb">
                    dork.js
                </a>
            </li>
            <li>
                <a href="https://simplecss.org">SimpleCSS</a>
            </li>
            <li>
                <a href="https://github.com/n3r4zzurr0/svg-spinners">
                    https://github.com/n3r4zzurr0/svg-spinners
                </a>
            </li>
            <li>
                <a href="https://github.com/adamghill/alldjango.com">
                    adamghill/alldjango.com
                </a>
            </li>
        </ul>
    </section>
    <!-- end colophon -->

    <script src="{% static 'js/dork.js' %}"></script>
    <script src="{% static 'js/gitego.js' %}"></script>
</body>

</html>