<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>alldjango.com</title>

    <link rel="stylesheet" href="{% static 'css/stickers.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Over+the+Rainbow">

    {% if not debug %}
    <script defer data-domain="alldjango.com" src="https://plausible.io/js/plausible.js"></script>
    {% endif %}
</head>

<body>
    <div class="header" style="padding-top: 3.5em; margin-bottom: 3.5em;">
        <img src="{% static 'img/stickers/logo.png' %}" style="height: 120px;" />
    </div>

    <div class="container">
        <img src="{% static 'img/stickers/pony.png' %}" class="sticker"
            style="height: 300px; top: 10px; position: relative; float: left; left: 50px;" />

        <div class="box">
            <img src="{% static 'img/stickers/3.png' %}" class="sticker"
                style="padding-left: 10px; float: right; height: 200px;" />

            <p style="margin-top: 0;">
                We love Django and the community, but we thought one thing was missing -- more <a
                    href="#stickers"><em>stickers</em></a>
                designed specifically for Djangonauts.
            </p>
            <p>
                Here are some stickers made with ❤️ for the Django community by some nice humans.
            </p>
            <p>
                Available in person at <a href="https://2023.djangocon.us">DjangoCon 2023 US</a> for your
                laptop, notepad, BMX bike, or water bottle.
            </p>
            <p>
                Come find either <a href="#sangeeta">Sangeeta</a> or <a href="#adam">Adam</a> to get some
                new rad Django stickers.
            </p>
        </div>

        <div class="header" style="margin-top: 5em; margin-bottom: 1.5em;" id="stickers">
            <img src="{% static 'img/stickers/stickers.png' %}" style="height: 80px;" />
        </div>

        <div class="box">
            <p>
                STICKERS GO HERE?
            </p>
        </div>

        <div class="header" style="margin-top: 5em; margin-bottom: 1.5em;">
            <img src="{% static 'img/stickers/made-by.png' %}" style="height: 80px;" />
        </div>

        <img src="{% static 'img/stickers/6.png' %}" class="sticker"
            style="height: 120px; float: left; position: relative; left: 100px;" />

        <div class="box">
            <p>
                Because of COVID restrictions for the conference,
                <a href="javascript: void(0);" id="mask-up">see what</a>
                we will look like with masks on.
            </p>
        </div>

        <div class="box profile" id="sangeeta">
            <div class="header">
                <div class="pictures">
                    <img src="{% static 'img/stickers/sjbitcode.jpeg' %}" class="circle pic" />
                    <img src="{% static 'img/stickers/hockey-mask.png' %}" class="hockey-mask"
                        style="top: 30px; left: 245px; width: 100px; transform: rotate(-8deg);" />
                </div>

                <h2>
                    <img src="{% static 'img/stickers/sangeeta.png' %}" />
                </h2>
            </div>

            <img src="{% static 'img/stickers/4.png' %}" class="sticker"
                style="height: 120px; float: right; position: relative; right: 23px;" />

            <div class="section">
                <h3>
                    <img src="{% static 'img/stickers/quick-facts.png' %}" />
                </h3>
                <ul>
                    <li>Loves running</li>
                    <li>Drinks the most bitter coffee available</li>
                    <li>Collects giant mugs</li>
                </ul>
            </div>

            <div class="section">
                <h3>
                    <img src="{% static 'img/stickers/favorite-quote.png' %}" />
                </h3>
                <p class="quote">What goes around comes around.</p>
            </div>

            <div class="section">
                <h3>
                    <img src="{% static 'img/stickers/superlatives.png' %}" />
                </h3>
                <ul>
                    <li>Best artist</li>
                    <li>Most helpful</li>
                </ul>
            </div>
        </div>

        <img src="{% static 'img/stickers/5.png' %}" class="sticker"
            style="height: 120px; float: right; position: relative; right: 103px; top: 360px;" />

        <div class="box profile" id="adam">
            <div class="header">
                <div class="circle pictures">
                    <img src="{% static 'img/stickers/adamghill.jpg' %}" class="pic" />
                    <img src="{% static 'img/stickers/hockey-mask.png' %}" class="hockey-mask"
                        style="left: 95px; width: 80px; top: 42px;" />
                </div>

                <h2>
                    <img src="{% static 'img/stickers/adam.png' %}" />
                </h2>
            </div>

            <div class="section">
                <h3>
                    <img src="{% static 'img/stickers/quick-facts.png' %}" />
                </h3>
                <ul>
                    <li>Owns 2 pinball machines</li>
                    <li>Light-roast coffee snob</li>
                    <li>
                        Perpetually juggling <a href="">too</a> <a href="">many</a> <a href="">side</a> <a
                            href="">projects</a>
                    </li>
                </ul>
            </div>

            <div class="section">
                <h3>
                    <img src="{% static 'img/stickers/favorite-quote.png' %}" />
                </h3>
                <div class="quote">Oh no, here we go again.</div>
            </div>

            <div class="section">
                <h3>
                    <img src="{% static 'img/stickers/superlatives.png' %}" />
                </h3>
                <ul>
                    <li>Best dog owner</li>
                    <li>Most stubborn</li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        window.addEventListener("load", () => {
            document.getElementById('mask-up').addEventListener('click', (e) => {
                const maskEls = document.getElementsByClassName('hockey-mask');
                for (var i = 0; i < maskEls.length; i++) {
                    const el = maskEls[i];
                    el.style.display = "block";
                }
            }, false);
        });
    </script>
</body>

</html>