<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Django Stickers | alldjango.com</title>

    <link rel="stylesheet" href="https://unpkg.com/open-props" />

    <link rel="stylesheet" href="https://unpkg.com/open-props/normalize.min.css" />
    {% comment %}
    <link rel="stylesheet" href="https://unpkg.com/open-props/buttons.min.css" /> {% endcomment %}

    <link rel="stylesheet" href="{% static 'css/spacing.css' %}">
    <link rel="stylesheet" href="{% static 'css/stickers-v2.css' %}">

    <script src="{% static 'js/dork.js' %}"></script>

    {% if not debug %}
    <script defer data-domain="alldjango.com" src="https://plausible.io/js/plausible.js"></script>
    {% endif %}
</head>

<body>
    <header>
        <h1>
            Django Stickers
        </h1>
    </header>

    <main class="mt-4">
        <section>
            <img src="{% static 'img/stickers/drop-two/magic-potion.png' %}" alt="magic potion" id="magic-potion" />

            <p class="mt-2">
                We love Django and the community, but we thought
                ONE thing was missing...
            </p>
            <p class="is-centered">
                <a href="#stickers">
                    STICKERS
                </a>
            </p>
            <p class="mt-2">
                So, Sangeeta designed our first special edition of Django stickers and we gave them out at DjangoCon US
                2023 in Durham.
            </p>
            <p class="mt-2">
                [picture of us handing out stickers here?]
            </p>
            <p class="mt-2">
                And now we're back with some fresh new stickers for PyCon US in Pittsburgh!
            </p>
            <p class="mt-2">
                If you cannot make it to an in-person conference, don't worry! Contact us for your own special edition
                stickers or go to RedBubble for standard editions of all the stickers we have released so far.
            </p>
        </section>

        <section>
            <p>
                Want to know when new stickers drop? Sign up for our mailing list.
            </p>
            <input type="text" placeholder="pony@djangoproject.com"></input>
        </section>

        <section id="stickers" class="mt-4 is-centered">
            <h2>Edition Two</h2>
            <ul>
                <li>
                    <img src="{% static 'img/stickers/drop-two/stickers/djurassic-park.png' %}" alt="Djurrasic Park" />
                </li>
                <li>
                    <img src="{% static 'img/stickers/drop-two/stickers/djangonaut.png' %}" alt="Djangonaut" />
                </li>
                <li>
                    <img src="{% static 'img/stickers/drop-two/stickers/rock-pony.png' %}" alt="Rock Pony" />
                </li>
            </ul>

            <h2 class="mt-6 is-centered">Edition One</h2>
            <ul>
                <li>
                    <img src="{% static 'img/stickers/drop-two/stickers/djurassic-park.png' %}" alt="Djurrasic Park" />
                </li>
                <li>
                    <img src="{% static 'img/stickers/drop-two/stickers/djangonaut.png' %}" alt="Djangonaut" />
                </li>
                <li>
                    <img src="{% static 'img/stickers/drop-two/stickers/rock-pony.png' %}" alt="Rock Pony" />
                </li>
            </ul>
        </section>

        <footer>
            <p>Built with semantic-ish HTML, barely passable CSS,
                vanilla JavaScript,
                <a href="https://coltrane.readthedocs.io" target="_blank">Coltrane</a>,
                and lots of
                <img src="{% static 'img/stickers/text/coffee.png' %}" id="coffee-text" alt="coffee" />.
            </p>

            <p class="mt-1">
                <a href="https://www.flaticon.com/free-icons/spooky" title="spooky icons">
                    Spooky icons created by smashingstocks - Flaticon
                </a>.
                The
                <a href="https://github.com/adamghill/alldjango.com" target="_blank">code</a>
                is hosted on the glorious
                <a href="https://alldjango.com">alldjango.com</a>.
            </p>

            <p class="mt-1">
                &copy; Sangeeta Jadoonanan & Adam Hill
            </p>
        </footer>
    </main>

    <script>

    </script>
</body>

</html>