{% with request.GET.username as username %}

<!-- start repo -->
<div id="repo">
    {% stargazers_by_repo_name username as stargazers_by_repo_name_result %}
    {% with stargazers_by_repo_name_result.0 as stargazers_by_repo_name %}
    {% with stargazers_by_repo_name_result.1 as stargazers_by_repo_name_error %}

    {% for repo_name, last_stargazers in stargazers_by_repo_name.items %}

    <!-- start specific repo detail -->
    {% if request.GET.repo == repo_name %}
    <div style="margin-top: 30px;">
        <span style="font-size: 20px;">⇠</span>
        <a href="{{ request.path }}?username={{ username }}">
            Go back to {{ username }}
        </a>
    </div>

    <span style="font-size: 20px; font-weight: bold;">
        {{ repo_name }}

        <span class="emoji-link">
            <a href="https://github.com/{{ username }}/{{ request.GET.repo }}">💿</a>
        </span>
    </span>

    {% if last_stargazers %}
    <table style="margin-top: 50px;">
        <thead>
            <tr>
                <th scope="col">Who</th>
                <th scope="col">When</th>
            </tr>
        </thead>
        {% for stargazer in last_stargazers %}
        <tr>
            <td>
                {% comment %} <img src="{{ stargazer.avatarUrl }}" /><a
                    href="https://github.com/{{ stargazer.login }}">{{ stargazer.login }}</a> {% endcomment %}

                {% include "gitego/_user-detail.html" with user=stargazer %}
            </td>
            <td>
                <span title="{{ stargazer.starredAt }}">
                    {{ stargazer.starredAt|str_to_date|naturaltime }}
                </span>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>
        No stargazers. 😢
    </p>
    {% endif %}

    {% endif %}
    <!-- end specific repo detail -->
</div>

{% endfor %}

{% endwith stargazers_by_repo_name_error %}
{% endwith stargazers_by_repo_name %}

{% endwith username %}
<!-- end repo -->