{% with request.GET.username as username %}

{% get_user username as user_result %}
{% with user_result.0 as user %}
{% with user_result.1 as user_error %}

<div id="user" style="margin-top: 40px;">
    {% include "gitego/_user-detail.html" with user=user %}

    <table>
        <thead>
            <tr>
                <th scope="col">Repos</th>
                <th scope="col">Followers</th>
                <th scope="col">Following</th>
                <th scope="col">Stars</th>
                <th scope="col">Sponsoring</th>
                <th scope="col">Sponsors</th>
            </tr>
        </thead>
        <tr>
            <td>
                <a href="https://github.com/{{ user.login }}?tab=repositories">{{ user.repositories.totalCount }}</a>
            </td>
            <td>
                <a href="https://github.com/{{ user.login }}?tab=followers">{{ user.followers.totalCount }}</a>
            </td>
            <td>
                <a href="https://github.com/{{ user.login }}?tab=following">{{ user.following.totalCount }}</a>
            </td>
            <td>
                <a href="https://github.com/{{ user.login }}?tab=stars">{{ user.starredRepositories.totalCount }}</a>
            </td>
            <td>
                <a href="https://github.com/{{ user.login }}?tab=sponsoring">{{ user.sponsoring.totalCount }}</a>
            </td>
            <td>
                {% if user.hasSponsorsListing %}
                <a href="https://github.com/sponsors/{{ user.login }}">{{ user.sponsors|length }}</a>
                {% else %}
                n/a
                {% endif %}
            </td>
        </tr>
    </table>

    {% last_stargazers username as last_stargazers_result %}
    {% with last_stargazers_result.0 as last_stargazers %}
    {% with last_stargazers_result.1 as last_stargazers_error %}

    {% if last_stargazers %}
    <table style="margin-top: 60px;">
        <thead>
            <tr>
                <th scope="col">What</th>
                <th scope="col">Who</th>
                <th scope="col">When</th>
            </tr>
        </thead>
        {% for stargazer in last_stargazers %}
        <tr>
            <td>
                <a
                    href="{{ request.path }}?username={{ username }}&repo={{ stargazer.repo_name }}">{{ stargazer.repo_name }}</a>

                <span class="emoji-link">
                    <a href="https://github.com/{{ username }}/{{ stargazer.repo_name }}">💿</a>
                </span>
            </td>
            <td>
                {% include "gitego/_user-detail.html" with user=stargazer sponsors=user.sponsors %}
            </td>
            <td>
                <span title="{{ stargazer.starredAt }}">
                    {{ stargazer.starredAt|str_to_date|naturaltime }}
                </span>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% elif last_stargazers_error %}
    <p>
        There was an error getting this data. Maybe try again later?

        <!--
            {{ last_stargazers_error }}
        -->
    </p>
    {% else %}
    <p>
        {% if user.repositories.totalCount == 0 %}
        No repositories. 😢
        {% else %}
        No stargazers. 😢
        {% endif %}
    </p>
    {% endif %}

    {% endwith last_stargazers_error %}
    {% endwith last_stargazers %}

</div>

{% endwith user_error %}
{% endwith user %}

{% endwith username %}