{% paths as paths %}
{% with paths.2 as username %}

{% if user.login == username %}
<img src="{{ user.avatarUrl }}" class="avatar" />

<span style="font-size: 20px; font-weight: bold;">
    {{ user.login }}
</span>
{% else %}
<a href="/gitego/user/{{ user.login }}" style="text-decoration: none;"><img src="{{ user.avatarUrl }}"
        class="avatar" /></a>
<a href="/gitego/user/{{ user.login }}">{{ user.login }}</a>
{% endif %}

{% login_in_edge user.login sponsors as user_is_sponsoring %}

{% if user_is_sponsoring %}
💙
{% endif %}

<span class="emoji-link">
    <a href="https://github.com/{{ user.login }}">🤖</a>
</span>

{% if user.websiteUrl %}
<span class="emoji-link">
    <a href="{{ user.websiteUrl }}">🏠</a>
</span>
{% endif %}

{% endwith username %}